 <h1 class="main-header">10 top plants to fight Indoor air pollution</h1>
    <main>
      <section class="organization">
      <section class="plant-main">
      <section class="areca-palm water-2 water-3 sun-2 sun-3 tempt1 tempt3" data-offset="1">
          <h2>1. Areca Palm</h2>
          <div class="plant_wrapper ">
              <object data="images/Areca_Palm.svg" type="image/svg+xml" class="svg-graphic" id="plant"></object>
              <div class="see-more" data-target="1"><p>Click to  see more</p></div>
              
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <img class="imgWater"> 
                  {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{water}}" alt="water">  
                  </div> 
                  {{/each}}
                  </div>
            
                </div>
                
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{sun}}" alt="water">  
                  </div> 
                    {{/each}}
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                 </div>
                 <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
                

                
              
            </div>
      </section>
      <section class="dracaena water-1 water-3 sun-1 sun-3 tempt2 tempt3" data-offset="2">
          <h2>2. Dracaena</h2>
          <div class="plant_wrapper">
              <object data="images/dracaena.svg" type="image/svg+xml" class="svg-graphic" id="plant-two"></object>
              <span class="see-more" data-target="2"><p>Click to  see more</p></span>
              
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                </div>
                  
                </div>
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                    {{#each data}}
                <div class="sunlight-img-small">
                <img src="images/{{temp}}" alt="temperature">
                </div>
                {{/each }}
                </div>
                </div>
                
          </div>
      </section>
      <section class="peace-lily water-1 water-3 sun-1 sun-3 tempt1 tempt3" data-offset="3">
          <h2>3. Peace Lily</h2>
          <div class="plant_wrapper">
              <object data="images/piece-lily.svg" type="image/svg+xml" class="svg-graphic" id="plant-three"></object>
              <span class="see-more" data-target="3"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    </div>
                  
                </div>
                
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
          </div>
      </section>
      <section class="snake-plant water-1 water-2 sun-2 sun-3 tempt2 tempt3" data-offset="4">
          <h2>4. Snake Plant</h2>
          <div class="plant_wrapper">
              <object data="images/snake-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-four"></object>
              <span class="see-more" data-target="4"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                 <div class="mobile-wrapper">
                    {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{sun}}" alt="water">  
                  </div> 
                    {{/each}}
                 </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                 {{#each data}}
                <div class="sunlight-img-small">
                <img src="images/{{temp}}" alt="temperature">
                </div>
                {{/each }}
                </div>
                </div>
          </div>
      </section>
      <section class="boston-fern water-2 water-3 sun-2 sun-3 tempt1 tempt2" data-offset="5">
          <h2>5. Boston Fern</h2>
          <div class="plant_wrapper">
              <object data="images/boston-fern.svg" type="image/svg+xml" class="svg-graphic" id="plant-five"></object>
              <div class="see-more" data-target="5"><p>Click to  see more</p>     
              </div>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{water}}" alt="water">  
                  </div> 
                  {{/each}}
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{sun}}" alt="water">  
                  </div> 
                    {{/each}}
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
          </div>
      </section>
      <section class="english-ivy water-1 water-2 sun-1 sun-2 tempt1 tempt2" data-offset="6">
          <h2>6. English Ivy</h2>
          <div class="plant_wrapper">
              <object data="images/english-evy.svg" type="image/svg+xml" class="svg-graphic" id="plant-six"></object>
              <span class="see-more" data-target="6"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
          </div>
      </section>
      <section class="spider-plant water-1 water-3 sun-1 sun-3 tempt2 tempt3" data-offset="7">
          <h2>7. Spider plant</h2>
          <div class="plant_wrapper">
              <object data="images/spider-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-seven"></object>
              <span class="see-more" data-target="7"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    </div>
                </div>
                <div class="tempMain">
                 {{#each data}}
                <div class="sunlight-img-small">
                <img src="images/{{temp}}" alt="temperature">
                </div>
                {{/each}}
                </div>
          </div>
      </section>
      <section class="rubber-plant water-1 water-3 sun-2 sun-3 tempt1 tempt2" data-offset="8">
          <h2>8. Rubber Plant</h2>
          <div class="plant_wrapper">
              <object data="images/rubber-plant.svg" type="image/svg+xml" class="svg-graphic" id="plant-eight"></object>
              <span class="see-more" data-target="8"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{sun}}" alt="water">  
                  </div> 
                    {{/each}}
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
                
          </div>
      </section>
      <section class="philodendron water-1 water-3 sun-1 sun-3 tempt2 tempt3" data-offset="9">
          <h2>9. Philodendron</h2>
          <div class="plant_wrapper">
              <object data="images/philodendron.svg" type="image/svg+xml" class="svg-graphic" id="plant-nine"></object>
              <span class="see-more" data-target="9"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    <div class="sunlight-img-small">
                        <img src="images/sunlight.svg" alt="sunlight">
                    </div>
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                 {{#each data}}
                <div class="sunlight-img-small">
                <img src="images/{{temp}}" alt="temperature">
                </div>
                {{/each }}
                </div>
                </div>
          </div>
      </section>
      <section class="aloe-vera water-1 water-2 sun-2 sun-3 tempt1 tempt2" data-offset="10">
          <h2>10. Aloe Vera</h2>
          <div class="plant_wrapper">
              <object data="images/aloe-vera.svg" type="image/svg+xml" class="svg-graphic" id="plant-ten"></object>
              <span class="see-more" data-target="10"><p>Click to  see more</p></span>
              <div class="areca-palm-water">
                  <div class="mobile-wrapper">
                  <div class="water-img-small">
                      <img src="images/water.svg" alt="water">
                  </div>
                  </div>
                </div>
                <div class="sunlight">
                    <div class="mobile-wrapper">
                    {{#each data}}
                  <div class="water-img-small"> 
                        <img src="images/{{sun}}" alt="water">  
                  </div> 
                    {{/each}}
                    </div>
                  
                </div>
                <div class="tempMain">
                <div class="mobile-wrapper">
                <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
                </div>
                </div>
                </div>
          </div>
      </section>
      <article class="popover">
          <p class="plant-description"></p>
      </article>
    </section>
    <section class="plant-rules">
      <div class="beggining">
      <h2>Plant Care Rules</h2>
      <div class="arrow">
        <img src="images/arrow.svg" alt="white arrow">
      </div>
      <h3>Do Not forget to click on a rules type</h3>
    </div>
    <div class="water">
      <h2>Water</h2>
      <div class="water-img">
          <img src="images/water.svg" alt="water">
        </div>
      <div class="three-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
        
      </div>
      <div class="water-rules"><p>Once in three days</p></div>
      
      <div class="two-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
        
      </div>
      <div class="water-rules-two"><p>Once in week</p></div>
      <div class="one-water">
          <div class="water-img-small">
              <img src="images/water.svg" alt="water">
          </div>
         
        
      </div>
      <div class="water-rules-three"><p>every three weeks</p></div>
    </div>
    <div class="water">
        <h2>Sunlight</h2>
        <div class="water-img">
            <img src="images/sunlight.svg" alt="sunlight">
          </div>
        <div class="three-sunlight">
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
          
        </div>
        <div class="sunlight-rules"><p>sunny side</p></div>
        
        <div class="two-water">
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
          
        </div>
        <div class="sunlight-rules-two"><p>half-shade</p></div>
        <div class="one-water">
            <div class="sunlight-img-small">
                <img src="images/sunlight.svg" alt="sunlight">
            </div>
           
          
        </div>
        <div class="sunlight-rules-three"><p>shade</p></div>
      </div>
      <div class="water">
        <h2>Temperature</h2>
        <div class="water-img">
            <img src="images/tempt.svg" alt="temperature">
          </div>
        <div class="three-sunlight">
            <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
            </div>
            <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
            </div>
            <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
            </div>
          
        </div>
        <div class="temp-rules"><p>~ 80°F</p></div>
        
        <div class="two-water">
            <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
            </div>
            <div class="sunlight-img-small">
                <img src="images/tempt.svg" alt="temperature">
            </div>
          
        </div>
        <div class="temp-rules-two"><p>~ 70°F</p></div>
        <div class="one-water">
            <div class="sunlight-img-small">
                 <img src="images/tempt.svg" alt="temperature">
            </div>
           
          
        </div>
        <div class="temp-rules-three"><p>~ 50°F</p></div>
      </div>
    </section>
    

      
       
    </section>
    </main>
    <script src="js/main.js"></script>
